.color {
  display: inline-block;
  border: 1px solid black;
  width: 55px;
  height: 55px;
  border-radius: 12px;
}

#blck {
    background-color: black;
    box-shadow: 0 0 5px black;
}

#pnk {
    background-color: pink;
    box-shadow: 0 0 5px pink;
}

#yllw {
    background-color: yellow;
    box-shadow: 0 0 5px yellow;
}

#grm {
    background-color: green;
    box-shadow: 0 0 5px green;
    ;
}